<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <div id="error_explanation" class="bg-rose-50 text-rose-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2>Foram encontados <%= pluralize(resource.errors.count, "erro") %>:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
